USE [master]
GO
/****** Object:  Database [dormfix]    Script Date: 8/17/2026 9:31:08 PM ******/
CREATE DATABASE [dormfix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dormfix', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dormfix.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dormfix_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dormfix_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dormfix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dormfix]
GO
/****** Object:  User [dormfix_admin]    Script Date: 8/17/2026 9:31:08 PM ******/
CREATE USER [dormfix_admin] FOR LOGIN [dormfix_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [dormfix_admin]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 8/17/2026 9:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [varchar](36) NOT NULL,
	[room_id] [varchar](100) NOT NULL,
	[sender_id] [varchar](36) NOT NULL,
	[recipient_id] [varchar](36) NOT NULL,
	[sender_role] [varchar](20) NOT NULL,
	[text] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dorm_assignments]    Script Date: 8/17/2026 9:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dorm_assignments](
	[id] [varchar](36) NOT NULL,
	[tenant_id] [varchar](36) NOT NULL,
	[landlord_id] [varchar](36) NOT NULL,
	[room_number] [varchar](50) NULL,
	[move_in_date] [date] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[house_rules]    Script Date: 8/17/2026 9:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[house_rules](
	[id] [varchar](36) NOT NULL,
	[landlord_id] [varchar](36) NOT NULL,
	[rule_text] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NULL,
	[target_room_number] [varchar](50) NULL,
	[category] [varchar](50) NULL,
	[is_priority] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_requests]    Script Date: 8/17/2026 9:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_requests](
	[id] [varchar](36) NOT NULL,
	[tenant_id] [varchar](36) NOT NULL,
	[issue_type] [varchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[urgency] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[date_submitted] [datetime] NULL,
	[admin_remarks] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 8/17/2026 9:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [varchar](36) NOT NULL,
	[tenant_id] [varchar](36) NOT NULL,
	[landlord_id] [varchar](36) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_type] [varchar](50) NOT NULL,
	[proof_image] [varchar](255) NOT NULL,
	[status] [varchar](20) NULL,
	[date_paid] [date] NOT NULL,
	[created_at] [datetime] NULL,
	[remarks] [nvarchar](max) NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[reference_number] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 8/17/2026 9:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [varchar](36) NOT NULL,
	[landlord_id] [varchar](36) NOT NULL,
	[room_number] [varchar](50) NOT NULL,
	[capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/17/2026 9:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [varchar](36) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[dorm_fix_id] [varchar](50) NULL,
	[is_approved] [bit] NULL,
	[created_at] [datetime] NULL,
	[profile_image] [nvarchar](255) NULL,
	[last_seen] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[dorm_assignments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[house_rules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[house_rules] ADD  DEFAULT ('General') FOR [category]
GO
ALTER TABLE [dbo].[house_rules] ADD  DEFAULT ((0)) FOR [is_priority]
GO
ALTER TABLE [dbo].[maintenance_requests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[maintenance_requests] ADD  DEFAULT (getdate()) FOR [date_submitted]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ((1)) FOR [capacity]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [last_seen]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD FOREIGN KEY([recipient_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[dorm_assignments]  WITH CHECK ADD FOREIGN KEY([landlord_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[dorm_assignments]  WITH CHECK ADD FOREIGN KEY([tenant_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[house_rules]  WITH CHECK ADD FOREIGN KEY([landlord_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[maintenance_requests]  WITH CHECK ADD FOREIGN KEY([tenant_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([landlord_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([tenant_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD FOREIGN KEY([landlord_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='tenant' OR [role]='landlord'))
GO
USE [master]
GO
